<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>TV Time export for {{ username }} at {{ date }}</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <style>
        {%- include 'style.css' ignore missing %}
    </style>
</head>
<body>
    <h1>Tv time export for {{ username }} at {{ date }}</h1>
{%- if started_shows | length > 0 %}

    <h2>Started</h2>
    <ul>
    {%- for show in started_shows %}
        <li><a href="#{{ show['id'] }}">{{ show['title'] }}</a></li>
    {%- endfor %}
    </ul>
{%- endif %}
{%- if not_started_shows | length > 0 %}

    <h2>Not started</h2>
    <ul>
    {%- for show in not_started_shows %}
        <li>{{ show['title'] }}</li>
    {%- endfor %}
    </ul>
{%- endif %}
{%- if started_shows | length > 0 %}
    <h2>Shows</h2>

{%- for show in started_shows %}
    <h3 id="{{ show['id'] }}">{{ show['title'] }}</h3>

{%- for season_number, season_data in show['data'].items() %}
    <table>
        <thead>
            <tr>
                <th colspan="2">Season {{ season_number }}</th>
            </tr>
        </thead>
        <tbody>
        {%- for episode_number, episode_data in season_data.items() %}
            {%- if episode_data['state'] %}
                {%- set state = 'watched' %}
            {%- else %}
                {%- set state = 'not_watched' %}
            {%- endif %}
            <tr>
                <td>{{ '%02d' | format(episode_number | int) }}</td>
                <td>{{ episode_data['title'] }}</td>
                <td><i class="fas fa-eye {{ state }}"></i></td>
            </tr>
        {%- endfor %}
        </tbody>
    </table>
    {%- endfor %}
{%- endfor %}
{%- endif %}
</body>
</html>